<?php
    $groupStatus = true;
?>
<li
    data-status="<?= $groupStatus || !$item->items ? 'expanded' : 'collapsed' ?>"
    data-sitemap-item="<?= e(json_encode($item->toArray())) ?>"
>
    <div>
        <a href="#" data-sitemap-item-link>
            <span class="title"><?= e($this->getReferenceDescription($item)) ?></span>
            <span class="comment">
                <?= e(trans('rainlab.sitemap::lang.item.priority')) ?>: <span class="priority"><?= e($item->priority) ?></span>,
                <?= e(trans('rainlab.sitemap::lang.item.changefreq')) ?>: <span class="changefreq"><?= e($item->changefreq) ?></span>
            </span>
        </a>

        <ul class="submenu">
            <li>
                <p>
                    <a href="javascript:;" data-control="delete-sitemap-item">
                        <i class="icon-trash-o control-icon"></i>
                    </a>
                </p>
            </li>
        </ul>
    </div>
</li>